lab1/zad/cmake-build-debug
lab1/zad/CMakeLists.txt
lab1/zad/.idea
lab1/zad3/cmake-build-debug
lab1/zad3/CMakeLists.txt
lab1/zad4/cmake-build-debug
lab1/zad4/CMakeLists.txt
lab1/zad5/cmake-build-debug
lab1/zad5/CMakeLists.txt
lab1/zad/my_env
lab1/zad3/.idea
lab1/zad4/.idea
lab1/zad5/.idea
*.zip
lab2/materialy
lab2/zadanie1/cmake-build-debug
lab2/zadanie1/CMakeLists.txt
lab3/tasks/cmake-build-debug
lab3/tasks/CMakeLists.txt
lab3/tasks/.idea
lab4/cmake-build-debug
lab4/CMakeLists.txt
lab4/.idea
lab6/.idea
lab6/CMakeLists.txt
lab6/cmake-build-debug
lab5/.idea
lab8/.idea
lab8/cmake-build-debug
lab8/CMakeLists.txt
lab8/Lab4
lab8/Lab4.zip
lab7/.idea
lab7/cmake-build-debug
lab7/CMakeLists.txt

