lab1/zad/cmake-build-debug
lab1/zad/CMakeLists.txt
lab1/zad/.idea
lab1/zad3/cmake-build-debug
lab1/zad3/CMakeLists.txt
lab1/zad4/cmake-build-debug
lab1/zad4/CMakeLists.txt
lab1/zad5/cmake-build-debug
lab1/zad5/CMakeLists.txt
lab1/zad/my_env
lab1/zad3/.idea
lab1/zad4/.idea
lab1/zad5/.idea
*.zip
lab2/materialy
lab2/zadanie1/cmake-build-debug
lab2/zadanie1/CMakeLists.txt
